llama-index==0.10.57
llama-index-llms-ollama
llama-index-embeddings-huggingface
llama-index-vector-stores-qdrant
qdrant-client
unstructured[pdf]
pymupdf
sentence-transformers
ragas
mlflow
evidently
fastapi
uvicorn
gradio
dvc
dvc-gdrive
pydantic
python-dotenv
httpx
pyyaml
tqdm
pandas
scikit-learn
